.imgSlider{
    background-color: #F5F5F5;
    width: 100%;
}
.headline{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #9E3500
}
.viewDetail{
    color: #111111;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}
.desc{
    margin: 0;
    color: #757575;
    font-size: 16px;
}
.headlinePrice{
    font-weight: 400;
    font-size: 16px;
    color: #111111;
    margin-bottom: 5px;
}