.pt {
  padding-top: 40px;
}
.ms3 {
    margin-left: 16px;
  }
.me{
    margin-left: 120px;
}
.mb{
  margin-top: 0;
  height: 90px;
}
.err{
  color: red;
  margin: 0;
}
.title1 {
  font-size: 20px;
  text-align: start;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 30px;
}
.title2{
    font-size: 20px;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 30px;
    color: #757575;
}
.title2:hover{
  color: black;
}
.btn1 {
  width: 100%;
  margin-bottom: 44px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 12px;
  min-height: 82px;
  font-weight: 500;
  color: #111;
}
.btn2 {
  font-size: 16px;
  border-radius: 30px;
  color: #111;
  background-color: #fff;
  border: 1px solid #cccccc;
  margin-left: 11px;
  padding: 12px 26px;
  font-weight: 400;
  display: block;
  margin-bottom: 8px;
}
.btn2:hover{
  background-color: #f5f5f5;
}
.input1 {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  font-size: 16px;
  padding: 18px 32px;
  font-weight: 400;
}
.input1:hover {
  color: rgb(17, 17, 17) !important;
  border-color: black !important;
}

.deliver {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}
.vietNam{
    font-size: 16px;
    color: #111;
}
.point{
    width: 8px;
    height: 8px;
    background-color: rgb(0, 179, 0);
    border-radius: 50%;
    margin-top: 8px;
}
.checkBox{
    font-size: 12px;
    color: #a6a6a6;
}
.nav{
    color: #a6a6a6;
    text-decoration: underline;
}
.nav:hover{
    color: #cccccc;
}
.btn3{
    color: #757575;
    background-color: #dedede;
    display: block;
    width: 100%;
    line-height: 1.75rem;
    border-radius: 30px;
    border: none;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 16px 0;
    font-size: 16px;
}
.btn3:hover{
    color: white;
    background-color: black;
}
.title3{
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 30px;
}
.title4{
    color: #8d8d8d;
    font-size: 17px;
    line-height: 16px;
    margin-bottom: 20px;
}
.span{
    font-size: 17px;
    margin: 10px 0;
}
.time{
    font-size: 16px;
    font-weight: 700;
}
.img{
    width: 100%;
}
.prodName{
    text-align: end;
    margin-top: 20px;
    margin-bottom: 5px;
}
.prodPrice{
    margin: 0;
    color: #8d8d8d;
    text-align: end;
    margin-bottom: 5px;
}
.hight{
  height: 188px;
}
.mbPostalCode{
  margin-top: 0;
  height: 60px;
}